<!DOCTYPE html>
<html>
    <head>
        <title>
           {{title}}
        </title>
        <style>
            nav a {padding-right: 120px;}
            .footer {
                position: absolute;
                bottom:50%;
            }
            .error {
                color:red;
            }
        </style>
    </head>
    <body>
       <nav>
           <a href="/" style="padding-right: 25px;">Main page</a>
           <a href="/login" style="padding-right: 25px;">Login</a>
        <a href="/register">Register</a>
       </nav> 
     
       {% with messages = get_flashed_messages(with_categories=True) %}
          <ul>
           {% for category,message in messages %}
               <li class="{{category}}">{{message}} </li>
           {% endfor %}
          </ul>
       {% endwith %}


       <div class='footer'>
           <a href="/logout">Log out</a>
       </div>


        {% block content %}
        {% endblock %}

    </body>
</html>